.Rhistory
.RData
.Rproj.user
*.DS_store
*_cache
*_files

github-actions-setup.Rmd
github-actions-setup.html

_book/
_bookdown_files/

multivariable-math_cache/
multivariable-math_files/

webshot-images/*.html
webshot-images/*.png
webshot-images/*_files

/.quarto/
