.Rhistory
.RData
.Rproj.user

github-actions-setup.Rmd
github-actions-setup.html

_book/
_bookdown_files/

multivariable-math_cache/
multivariable-math_files/

webshot-images/*.html
webshot-images/*.png
webshot-images/*_files
